<div class="flex items-center gap-3">
    <img [src]="musica.album.imagemUrl" class="w-[56px] rounded-lg ">
    <span class="text-xs text-zinc-400">{{musica.titulo}}</span>
</div>

<div class="flex flex-col items-center mr-[47%]">
    <div class="flex items-center gap-6 ">
        <button>
            <fa-icon [icon]="anteriorIcone" class="text-zinc-200"></fa-icon>
        </button>
        <button class="w-10 h-10 flex items-center justify-center pl-[1px] rounded-full bg-white">
            <fa-icon [icon]="playIcone"></fa-icon>
        </button>
        <button>
            <fa-icon [icon]=" proximoIcone " class="text-zinc-200"></fa-icon>
        </button>
    </div>
</div>


